*{
    margin: 0%;
    padding: 0%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
}

input:focus, select:focus, textarea:focus, option:focus{
    outline: none;
}


/* HEADER */
.header{
    background-color:#191e2b ;
    color:#ffffff ;
    width: 100%;
    height:110px;
    text-align: center;
    position: fixed;
    z-index:1;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

.light-theme .header {
    background-color:#e0e0e0;
    color: #000000;
}


.botones-header .boton{
    height: 30px;
    padding: 0 10px;
    color: #ffffff;
    background-color: transparent;
    border-radius: 3px;
    transition: background-color 0.2s;
    font-size: 14px;
    align-items: center;
    border: 0;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;

}

.botones-header :hover{
   background-color: #4e5565;
   color: #ffffff;
}

.light-theme .botones-header{
    color: #000000;
    transition: background-color 0.2s ;
}

.light-theme .botones-header :hover{
    background-color: #bdbdbd;
     
}
.light-theme .botones-header .boton{
    color: #000000;
}


/* CONTENEDOR MEME */


.contenedor-principal{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #30343f;
    /* padding-bottom: 43px;
    padding-top: 125px;
     */
}

.light-theme .contenedor-principal{
    background-color: #eeeeee;
}

.contenedor-meme{
    width: 100vw;
    max-width: 610px;
    height: 540px;
    background-color: black;
    position: relative;
    display: flex;
    flex-direction: column;
   
}


.imagen-meme{
    background-color: #000000;
    background-image: unset;
    background-size: cover;
    background-position: center;
    flex-grow: 1;
}

.meme .top-text{
    position: absolute;
    background-color: transparent;
    width: 100%;
}

.meme .bottom-text{
    position: absolute;
    background-color: transparent;
    bottom:0;
    width: 100%;
}

.meme .imagen-meme{
    height: 100%;
}

.top-text{
    color:#000000;
    background-color: #ffffff;
    height: 5vw;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 40px;
    position: static;
    font-weight: 800;
    align-items: center;
}

.bottom-text{
    color:#000000;
    background-color: #ffffff;
    height: 5vw;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 40px;
    position:static ;
    align-items:center;
    bottom: 0;
    font-weight: 800;
}

.checkbox-transparente{
    margin-top: 8px;
}


.download-meme{
    background-color: #2e7d32;
    padding: 15px 15px;
    margin-top: 30px;
    height: auto;
    color: white;
    cursor: pointer;
}

.cerrar-panel{
    position: fixed;
    top: 15px;
    right: 20px;
    border-radius: 3px;
    cursor: pointer;
    border: 0;
    background-color: transparent;
    color: #ffffff;
}


.light-theme .cerrar-panel{
    color: #000000;
}


/* PANEL IMAGEN */

.panel{
    background-color: #252935;
    padding-top: 20px;
    color: #ffffff;
    z-index:2;
    position: fixed;
    top: 0;
    right: 0;
    width: 260px;
    padding: 2%;
    font-family: 'Open Sans', sans-serif;
    overflow-y: scroll;
    height: 100vh;
    font-size: 12px;
 
}

.light-theme .panel{
    color: #191e2b;
}

.panel .imagen-panel{
    height: 100vh;
}

.light-theme .panel .imagen-panel{
    color: #191e2b;
}

.panel input#insertar-img-url {
    background-color:#30343f;
    border: 0;
    border-radius: 2px;
    height: 36px;
    transition: background-color 0.2s;
    color: #ffffff;
    font-size: 12px;
    padding: 15px;
    margin-top: 5px;
    margin-bottom: 15px;
    width: 100%;
}


.panel input#insertar-img-url:hover{
    background-color: #5a5d68;
}

.light-theme .panel input#insertar-img-url{
    background-color: #bdbdbd;
}
.imagen-panel .titulo-panel{
    padding: 0 0 5px;

}


.fondo-color{
    background-color:#30343f;
    height: 36px;
    transition: background-color 0.2s;
    color: #ffffff;
    font-size: 12px;
    padding: 1px 2px;
    margin: 0px 0px 5px;
    border: 0;
    border-radius: 2px;
    display: flex;
    align-content: center;
    flex-direction: row;
    align-items: center;
    width: 48%;
}

.light-theme .fondo-color{
    background-color: #bdbdbd;
    color: #30343f;
}

.panel-blend-mode{
    background-color:#30343f;
    border: 0;
    border-radius: 2px;
    height: 36px;
    width: 49%;
    transition: background-color 0.2s;
    color: #ffffff;
    font-size: 12px;
    padding: 5px 10px;
    margin: 0px 0px 5px;
    display: flex;
   
}
.light-theme .panel-blend-mode{
    background-color: #bdbdbd;
    color: #30343f;
}

#blend-mode{
    color: #ffffff;
    background-color: #30343f;
    border: 0;
}
.light-theme #blend-mode{
    background-color: #bdbdbd;
    color: #30343f;
}

.panel.filtros{
    color: #ffffff;   
}

.imagen-panel {
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    font-size: 12px;
}

.hide {
    display:none;
}

.panel-fondos{
    display: flex;
    justify-content: space-between;
    
}
.fondo-color input{
    width: 24px;
    height: 24px;
    border-radius: 100%;
    border: none;
    -webkit-appearance: none;
    overflow:hidden;
}

.fondo-color input::webkit-color-swatch-wrapper{
    padding: 0;
}

.fondo-color input::-webkit-color-swatch{
    border: none;
}

.light-theme .panel{
    background-color: #fafafa;
}

.light-theme input#insertar-img-url{
    color: #e0e0e0;
}


/* FILTROS */

.panel-control.filtros input[type='range']{
    -webkit-appearance: none;
    background-color: #5a5d68;
    width: 100%;
    cursor: pointer;
}
input[type='range']::-webkit-slider-thumb{
    width: 10px;
    height: 10px;
    -webkit-appearance: none;
    background-color: #ffffff;
    height: 10px;
    border-radius: 100%;
    color: #5a5d68;
}

.light-theme input[type='range']::-webkit-slider-thumb{
    background-color: #000000;
}

input[type='range']::-webkit-slider-runnable-track{
    height: 5px;
    width: 5px;
    -webkit-appearance: none;
}

.control-range{
    padding: 5px;
    margin: 10px 2px 2px;
    display: block;
    
}

#brightness{
    display: block;
    margin: 10px 2px 2px;
}
#opacidad{
    display: block;
    margin: 10px 2px 2px;
}
#contrast{
    display: block;
    margin: 10px 2px 2px;
}

#blur{
    display: block;
    margin: 10px 2px 2px;
}

#greyscale{
    display: block;
    margin: 10px 2px 2px;
}
#sepia{
    display: block;
    margin: 10px 2px 2px;
}

#hue{
    display: block;
    margin: 10px 2px 2px;
}

#saturate{
    display: block;
    margin: 10px 2px 2px;
}

#negative{
    display: block;
    margin: 10px 2px 2px;
}
.control-button button{
    color: #ffffff;
    border: 0;
    border-radius: 2px;
    background-color:#30343f;
    height: 36px;
    transition: background-color 0.2s;
    font-size: 12px;
    padding: 0px 10px;
    margin: 30px 0px 0px;
    font: 14px 'Open Sans', sans-serif;
}    

.light-theme .control-button button{
    background-color:#bdbdbd;
    color: #30343f;
}

.control-button button:hover{
    background-color:#5a5d68 ;
    color:#4e5565;

}

/* PANEL DE TEXTO */


.texto-panel{
    width: 260px;
    height: 100vh;
    padding: 2%; 
    position: fixed;
    z-index: 3;
    top: 0;
    right: 0;
    font-family: 'Open Sans', sans-serif; 
    font-size: 12px;
    background-color:#252935;
    padding-top: 20px;
    color: #ffffff;
   overflow: auto;
   
}

.light-theme .texto-panel{
    background-color: #ffffff;
    color: #30343f;
}

.panel-control-titulo{
    display: flex;
    justify-content:center;
}

.title{
    margin-top: 20px;
    margin-bottom: 15px;
}


.panel-control-input{
    background-color:#30343f;
    border: 0;
    border-radius: 2px;
    height: 36px;
    color: #ffffff;
    font-size: 12px;
    width: 100%;
    
}
.light-theme .panel-control-input{
    background-color: #bdbdbd;
    color: #30343f;
}
#checkbox-sin-texto-superior{
    margin-top: 10px;
   
}
#checkbox-sin-texto-inferior{
    margin-top:  10px;
}
.select-fuentes{
    background-color:#30343f;
    border: 0;
    border-radius: 2px;
    height: 36px;
    color: #ffffff;
    font-size: 12px;
    width: 100%;
    
}
.tamaño-fuente-input{
    width: 50%;
    height: 36px;
    background-color: #30343f;
    color: #ffffff;
    border: 0;
    margin-top: 5px;
}
.light-theme .select-fuentes{
    background-color: #bdbdbd;
    color: #30343f;
}
.light-theme .tamaño-fuente-input{
    background-color: #bdbdbd;
    color: #30343f;
}
.botones-alinear-texto{
    width: 13%;
    height: 36px;
    background-color: #30343f;
    border: 0;
    color: #ffffff;
    margin: 1.2px;
    cursor: pointer;
    
   
}
.light-theme .botones-alinear-texto{
    background-color: #bdbdbd;
    color: #30343f;
}
.color-texto, .fondo-texto{
    background-color: #30343f;
    width: 50%;
    height: 36px;
    display: flex;
    align-content: center;
    padding-top: 2.5px;
    font-size: 12px;
    margin-bottom: 5px;
    border-radius: 2px;
    cursor: pointer;
}   
.light-theme .color-texto{
    background-color: #bdbdbd;
    color: #30343f;
}

.light-theme .fondo-texto{
    background-color: #bdbdbd;
    color: #30343f;
}

.color-text, .background-text{
    padding-top: 5px;
    padding-left: 2px;
}
.color-texto input, .fondo-texto input{
    width: 24px;
    height: 24px;
    border-radius: 100%;
    border: none;
    -webkit-appearance: none;
    overflow: hidden;
    cursor: pointer;
}


#color-text-input, #fondo-text-input{
    background-color: transparent;
}


.contenedor-botones-contorno{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    padding: 0 10px;
    background-color: transparent;
    transition: background-color 0.2s;
    
}


#ningun-contorno, #contorno-claro, #contorno-oscuro {
    background-color: #30343f;
    border: 0;
    color: #ffffff;
    padding: 0 10px;
    margin-right: 8px;
    height: 36px;
    border-radius:2px ;
    cursor: pointer;
}

.light-theme #ningun-contorno{
    background-color: #bdbdbd;
    color: #30343f;
}

.light-theme #contorno-claro{
    background-color: #bdbdbd;
    color: #30343f;
}

.light-theme #contorno-oscuro{
    background-color: #bdbdbd;
    color: #30343f;
}

.claro-contorno{
  text-shadow: 2px 2px whitesmoke;
}

.oscuro-contorno{
    text-shadow: 2px 2px black;
}

.esconder{
    visibility: hidden;
}

.aparecer{
    visibility: visible;
}

@media (min-width: 1300px ) {
    .panel {
        display: block;
        box-shadow: none;
    }
}

@media (max-width: 700px) {
    .panel{
        width: 100%;
    }
    .texto-panel {
        width: 100%;
    }
}

@media (max-width: 1200px) {
    .panel{
        display: none;
    }
    .texto-panel{
        display: none;
    }
}

@media (max-width: 630px) {
    .contenedor-meme{
        height: 350px;
        width: 75vw;
    }
}
@media (max-width: 450px) {
    .contenedor-meme{
        height: 300px;
        width: 65vw;
    }
}